@import "vars";

.virtual-grid-ghost {
    position: absolute;
    display: flex;
    align-items: center;
    cursor: move;
    z-index: 5;
    background-color: white;
    justify-content: center;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
    pointer-events: none;

    color: rgba(0, 0, 0, .87);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.virtual-grid-context-menu, .virtual-grid-submenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 5;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);

    color: rgba(0, 0, 0, .87);
    font-family: "Roboto", sans-serif;
    font-size: 14px;

    .contextmenu-divider {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .contextmenu-entry {
        height: 48px;
        min-height: 48px;
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: $eob-pane-padding / 2;
        cursor: pointer;
        box-sizing: border-box;
        justify-content: space-between;

        * {
            user-select: none;
        }

        .contextmenu-entry-content {
            display: flex;
            align-items: center;
            font-size: $font-medium;
        }

        .contextmenu-entry-icon {
            padding-right: $eob-pane-padding / 2;
            width: 16px;
            max-width: 16px;
        }

        &:hover {
            background-color: $color-background-panel;
        }
    }

    //scrollbar
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.08);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, .3);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, .5);
    }
}

.virtual-grid {

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    overflow-x: auto;
    overflow-y: hidden;

    display: flex;
    flex-direction: column;
    background-color: $color-background-grid;
    font-family: "Roboto", sans-serif;

    * {
        user-select: none;
    }

    &.range-selection {
        .row.hover {
            background-color: transparent;
        }

        .cell.hover {
            background-color: $color-background-panel;
        }

        .cell.flash {
            animation: flash 500ms linear;
        }

        .cell.selected {
            &.stack-1 {
                background-color: rgba($color-accent-light, .08);
            }

            &.stack-2 {
                background-color: rgba($color-accent-light, .16);
            }

            &.stack-3 {
                background-color: rgba($color-accent-light, .24);
            }

            &.stack-4 {
                background-color: rgba($color-accent-light, .32);
            }

            &.stack-5 {
                background-color: rgba($color-accent-light, .40);
            }

            &.stack-6 {
                background-color: rgba($color-accent-light, .48);
            }

            &.stack-7 {
                background-color: rgba($color-accent-light, .56);
            }

            &.stack-8 {
                background-color: rgba($color-accent-light, .64);
            }

            &.stack-9 {
                background-color: rgba($color-accent-light, .72);
            }

            &.stack-10 {
                background-color: rgba($color-accent-light, .80);
            }

            &.range-border-top {
                border-top: 1px solid $color-accent !important;
            }

            &.range-border-bottom {
                border-bottom: 1px solid $color-accent !important;
            }

            &.range-border-left {
                border-left: 1px solid $color-accent !important;
            }

            &.range-border-right {
                border-right: 1px solid $color-accent !important;
            }
        }
    }

    &.default-selection {
        .row.hover {
            background-color: $color-background-panel;
        }

        .cell.hover {
            background-color: transparent;
        }
    }

    &.moving {
        .cell, .header-cell {
            transition: transform 150ms;
        }

        .row.hover {
            background-color: transparent;
        }
    }

    .hidden {
        display: none !important;
    }

    .header-wrapper-scroll-port, .body-wrapper-scroll-port {
        overflow: hidden;
    }

    .scroll-y-center-scroll-port {
        overflow: hidden;
        overflow-x: scroll;

        .scroll-y-center-spacer {
            height: 8px;
        }
    }

    .header-right, .body-right {
        transition: box-shadow 150ms;
        z-index: 1;

        &.shadow {
            box-shadow: -8px 0 8px -4px rgba(0, 0, 0, 0.2);
        }
    }

    .header-left, .body-left {
        transition: box-shadow 0.15s linear;
        z-index: 1;

        &.shadow {
            box-shadow: 8px 0 8px -4px rgba(0, 0, 0, 0.2);
        }
    }

    .group-panel {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.08);
        height: 40px;
        min-height: 40px;
        border-bottom: 1px solid $color-background-panel;
        color: rgba(0, 0, 0, .87);

        .group-panel-placeholder {
            font-size: $font-medium;
            padding-left: $eob-pane-padding;
        }

        .group-panel-content {
            display: flex;
            margin-left: $eob-pane-padding;

            .group-spacer {
                display: inline-flex;
                align-items: center;
                margin: 0 $eob-pane-padding / 2;
                opacity: 0.6;
            }

            .group {
                background-color: rgba(0, 0, 0, .08);
                padding: $eob-pane-padding / 4 $eob-pane-padding / 2;
                border-radius: $font-small;
                display: flex;
                align-items: center;
                cursor: pointer;
                font-size: $font-medium;
                color: rgba(0, 0, 0, .87);

                &.inactive {
                    opacity: .6;
                }

                .group-remove-button {
                    margin-left: $eob-pane-padding / 2;
                    border-radius: $eob-pane-padding / 2;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    font-size: $font-small;
                    height: $eob-pane-padding;
                    width: $eob-pane-padding;
                    transition: background-color linear 150ms;

                    &:hover {
                        background-color: rgba(0, 0, 0, .2);
                    }
                }
            }
        }
    }

    .body-wrapper {
        overflow: auto;
        display: flex;

        .body-left {
            border-right: 1px solid rgba(0, 0, 0, .1);
            box-sizing: border-box;
        }

        .body-right {
            border-left: 1px solid rgba(0, 0, 0, .1);
            box-sizing: border-box;
        }

        .body-left, .body-center, .body-right {
            overflow-x: hidden;
            overflow-y: auto;
            position: relative;
            right: 0;
            left: 0;

            &.scrolling {
                .row {
                    background-color: transparent;
                }
            }

            &:not(.scrolling) {
                .row {
                    box-sizing: border-box;
                    position: absolute;
                    left: 0;
                    right: 0;
                    white-space: nowrap;
                    display: flex;
                    border-bottom: 1px solid rgba(0, 0, 0, .1);
                    cursor: pointer;
                    font-size: $font-medium;

                    .cell {
                        position: absolute;
                        height: 100%;
                        box-sizing: border-box;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        color: rgba(0, 0, 0, .87);

                        border-left: 1px solid transparent;
                        border-right: 1px solid transparent;
                        border-top: 1px solid transparent;
                        border-bottom: 1px solid transparent;

                        .checkbox {
                            margin-right: 8px;
                            min-width: 16px;
                            min-height: 16px;
                            width: 16px;
                            height: 16px;
                            border: 1px solid rgba(0, 0, 0, .2);
                        }

                        &.text-node {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding-left: $eob-pane-padding/2;

                            .node-icon {
                                height: 26px;
                                width: 26px;
                                min-width: 26px;
                                min-height: 26px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-right: 8px;
                            }

                            .expanded {
                                margin-left: 0;
                                cursor: pointer;
                            }

                            .empty {
                                background-image: none;
                                float: left;
                                flex-shrink: 0;
                            }

                            .cell-content {
                                display: flex;
                                flex-direction: column;
                                overflow: hidden;
                                width: 100%;

                                .cell-text {
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    text-align: left;
                                    width: 100%;
                                }
                            }

                            .node-child-count {
                                padding-right: $eob-pane-padding / 2;
                            }
                        }

                        &.boolean-node {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        &.avatar-node {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .avatar-icon {
                                height: 40px;
                                width: 40px;
                                color: white;
                                display: -webkit-box;
                                display: flex;
                                -webkit-box-align: center;
                                align-items: center;
                                -webkit-box-pack: center;
                                justify-content: center;
                                border-radius: 50%;
                                cursor: pointer;
                                font-size: $font-big;
                                background-size: cover;
                            }
                        }

                        &.action-node {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;

                            .action-icon {
                                cursor: pointer;
                                padding: $eob-pane-padding/2;
                            }
                        }
                    }

                    &.not-selectable {
                        opacity: 0.7;

                        .checkbox {
                            opacity: 0.6;
                        }
                    }

                    &.selectable.selected {
                        background-color: $color-accent-extra-light !important;
                    }
                }
            }
        }
    }

    .header-wrapper {
        width: 100%;
        display: flex;
        background-color: rgba(0, 0, 0, 0.08);

        .header-left-resizer {
            cursor: col-resize;
            position: absolute;
            height: 100%;
            width: 4px;
            right: 0;
            z-index: 1;
        }

        .header-right-resizer {
            cursor: col-resize;
            position: absolute;
            height: 100%;
            width: 4px;
            left: 0;
            z-index: 1;
        }

        .header-left, .header-center, .header-right {
            flex-shrink: 0;
            display: flex;
            position: relative;

            .header-cell {
                display: flex;
                position: absolute;
                height: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                user-select: none;
                color: rgba(0, 0, 0, 0.87);
                text-align: left;

                .header-cell-content {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    border-right: 1px solid $color-border-light;
                    box-sizing: border-box;

                    .header-cell-text-container {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        padding-right: 4px;

                        .header-cell-text {
                            padding-left: $eob-pane-padding / 2;
                            width: 100%;
                            line-height: 40px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-size: $font-medium;
                        }

                        .header-sort-arrow-container {

                            position: relative;

                            .header-sort-arrow {

                                height: 16px;
                                width: 16px;

                                display: none;

                                &.icon-asc {
                                    transform: rotate(-90deg);
                                    display: block;
                                }

                                &.icon-desc {
                                    display: block;
                                    transform: rotate(90deg)
                                }
                            }

                            .header-sort-arrow-number {
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                font-size: 10px
                            }
                        }

                    }

                    .header-cell-aggregation-container {
                        height: 40px;
                        display: flex;
                        flex-direction: column;
                        padding: 0 $eob-pane-padding / 2;
                        justify-content: center;

                        .header-cell-aggregation-title {
                            font-size: 10px;
                        }

                        .header-cell-aggregation-value {
                            font-size: 12.5px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    .header-cell-filter-container {
                        display: flex;
                        padding: 0 8px;
                        box-sizing: border-box;

                        .header-filter-input {
                            outline: none;
                            border: none;
                            border-bottom: 1px solid rgba(0, 0, 0, .1);
                            height: 32px;
                            padding-left: 8px;
                            box-sizing: border-box;
                            width: 100%;
                        }

                        .header-filter-bool-button {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 32px;
                            cursor: pointer;

                            &:hover {
                                background-color: $color-accent-extra-light;
                            }

                            &.active {
                                background-color: $color-accent-medium-light;
                            }
                        }
                    }

                    .header-cell-checkbox-container {

                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: flex-end;
                        justify-content: center;

                        .header-cell-checkbox {
                            margin-bottom: 14px;
                            min-width: 20px;
                            min-height: 20px;
                            width: 20px;
                            height: 20px;
                            border: 1px solid rgba(0, 0, 0, 0.2);
                            background-color: white;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }

                .header-cell-resizer {
                    cursor: col-resize;
                    height: 100%;
                    min-width: 4px;
                    position: absolute;
                    right: 0;
                }
            }
        }
    }

    .scroll-y-guard {
        min-height: 8px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.08);
        display: flex;
    }

    //scrollbar
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.08);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, .3);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, .5);
    }

    @keyframes flash {
        from {
            background-color: $color-accent-medium-light;
        }
        to {
            background-color: transparent;
        }
    }
}
